package pages

import "github.com/aaron-vasilev/diary-templ/src/components"
import "github.com/aaron-vasilev/diary-templ/src/model"

type DiaryProps struct {
  User model.User
}

templ Diary(props DiaryProps) {
  @components.Layout() {
    <a href="http://localhost:3000/auth/login?provider=google">REGISTER</a>
    <h1>{ props.User.Email }</h1>
    @components.CreateNote()
  }
}
