package pages

import (
	"github.com/aaron-vasilev/diary/src/components"
	"github.com/aaron-vasilev/diary/src/model"
)

type UpdateQuestionProps struct {
	Question model.Question
	User     model.User
}

templ UpdateQuestion(props UpdateQuestionProps) {
	@components.Layout(true, true) {
		<div class="flex justify-between">
			<div id="question-container">
				@components.Question(props.Question, props.User)
			</div>
			@components.Calendar("/update-question", "#question-container", props.Question.ShownDate)
		</div>
		<form
			class="mt-8"
			hx-put={ components.Url("/update-question") }
			hx-vals="js:{id: document.getElementById('question').dataset.questionId}"
			hx-swap="outerHTML"
			hx-target="#question"
		>
			<textarea
				class="w-full h-fit border-8 border-solid border-primary bg-transparent p-4 shadow-xl outline-none"
				name="question"
			></textarea>
			@components.Button(components.DummyClick(), "Change", 'M', components.PRIMARY)
		</form>
	}
}
