package components

import "github.com/aaron-vasilev/diary/src/model"

templ CreateNote(q model.Question) {
	<form
		class="col-[1_/_-1] grid items-center gap-4"
		id="create-note"
		hx-post={ Url("/note?question_id=" + intToStr(q.Id) + "&created_date=" + q.ShownDate) }
		hx-target="#note-list"
		hx-swap="beforeend"
	>
		@InputArea()
		@Button(DummyClick(), "Add", M, PRIMARY)
	</form>
}
