package components

templ CreateNote() {
  <form 
    class="col-[1_/_-1] grid items-center gap-4"
    id="create-note"
    hx-post="/note"
    hx-target="#note-list"
    hx-swap="beforeend"
  >
    @InputArea()
    @Button("Add", M, PRIMARY)
  </form>
}
