package components

import "github.com/aaron-vasilev/diary-templ/src/model"

type DiaryProps struct {
  User model.User
  Question model.Question
  Notes []model.Note
}

templ Diary(props DiaryProps) {
  @Calendar(props.Question.ShownDate)
  @Question(props.Question, props.User)
  @NoteList(props.Notes)
  @CreateNote()
}
