package components

templ InputArea() {
  <div 
    class="col-[1_/_-1] resize-none border-8 border-solid border-primary bg-transparent p-4 shadow-xl outline-none" 
    oninput="console.log(23)"
    contentEditable
  />
}
