package components

templ Input(route, inputType, target, placeholder string) {
	<input
		class="min-h-7 w-full border-2 border-solid border-black bg-transparent p-2 text-xl shadow-xl outline-none"
		name="search"
		placeholder={ placeholder }
		type={ inputType }
		hx-post={ route }
		hx-trigger="input change delay:500ms, search"
		hx-target={ target }
	/>
}
